@page "/register"
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">QA Web Application</h1>
            <p class="fs-4">Submission for the Software Engineering and DevOps module.</p>
            <hr>
            <p class="fs-4">Jamie Allen</p>
        </div>
        <div class="col">
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="" value="@Model.Form.Email">
                    <label for="Email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="" value="@Model.Form.FirstName">
                    <label for="FirstName">First name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="" value="@Model.Form.LastName">
                    <label for="LastName">Last name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="PasswordFirst" name="PasswordFirst" placeholder="" value="@Model.Form.PasswordFirst">
                    <label for="PasswordFirst">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="PasswordSecond" name="PasswordSecond" placeholder="" value="@Model.Form.PasswordSecond">
                    <label for="PasswordSecond">Confirm password</label>
                </div>
                <div class="checkbox mb-3 text-center">
                    <label>
                        <input type="checkbox" id="RememberMe" name="RememberMe" value="@Model.Form.RememberMe"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign-up</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign-up, you agree to the terms of use.</small>
                <hr class="my-4">
                <small class="text-muted">Already have an account?</small>
                <form method="POST"><button class="btn btn-link btn-sm" asp-page-handler="Switch" type="submit">Click here to sign-in.</button></form>
            </form>
        </div>
    </div>
</div>
